
<div class="footer">
    <img src="/images/ft_background.png" alt="Cute CuddleKitty Banner" class="ft_background" />
    
    <div class="footerDiv1">
        <h2>IcedCoffeeCoders</h2>
        <br>
        <br>
        <h6><i class="fa-regular fa-copyright"></i> All Rights Reserved</h6>
    </div>
    <div class="footerDiv2">
        <img src="/images/icedcoffee.png" alt="Cute CuddleKitty Banner" class="icedcoffeekitty" />
    </div>
</div>